h1 = @channel.name
p = @channel.description
br
-unless @joined
  = link_to 'join', join_channels_path(id: @channel.id)
  br
= link_to 'edit', edit_channel_path(@channel)
br
= link_to '一覧へ戻る', channels_path
