.videl_body {
  background-color: rgba(0,0,0,0.5);
  /*position: fixed;*/
  /*position: relative;*/
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /*z-index: 3;*/
  background-size: cover;
  text-align: center;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}
.top_title {
  font-family: 'Damion-Regular';
  font-style: oblique;
  color: #fff;
  font-size: 400%;
  margin-top: 150px;
  position: relative;
  z-index: 2;
}
.top_p {
  font-family: 'Damion-Regular';
  font-style: oblique;
  color: #fff;
  font-size: 240%;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

#client_header {
  background: 0 0;
  height: 53px;
  position: fixed;
  z-index: 200;
  min-width: 768px;
  width: 100%;
}

header.clannel_header {
  background: #fff;
  height: 5rem;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  /*padding: auto;*/
  padding: 10px;
}

body.clannel_boby {
  margin: 0;
  background: #f9f9f9;
  font-size: 1.125rem;
}

.clannel_box {
  display: block;
  cursor: pointer;
}
.clannel_box:hover {
  background-color: #F7EEAC;
  /*border-color: #dfd7ca;*/
}

.home_icon {
  font-size: 3rem;
}

.flex {
  display: flex;
}

.channel_name {
  display: inline-block;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  padding: 20px;
  /*color: #2c2d30;*/
  /*font-weight: 900;*/
  font-size: 1.125rem;
  line-height: 1.375rem;
  z-index: 25;
}

.channel_title {
  color: #2c2d30;
  font-weight: 900;
  /*font-size: 1.25rem;*/
  line-height: 1.375rem;
}

.channel_setting {
  /*font-size: 1.5rem;*/
  color: #9e9ea6;
}

.channel_setting:hover {
  /*font-size: 1.5rem;*/
  color: #37a6c4;
}

.file-upload {
  font-size: 25px;
  top: 6px;
}

.ts-message {
  display: block;
  width: 100%;
  margin: 0 auto 1rem;
  position: relative;
  padding: 1px 2.5rem 2px 0;
  border-left: none;
  border-right: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  font-family: Slack-Lato,appleLogo,sans-serif;
  color: #2c2d30;
  font-size: .9375rem;
  line-height: 1.375rem;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  word-wrap: break-word;
}

.ts-message:hover{
  background: #f9f9f9;
}

.ts-message .message_gutter {
  width: 4.5rem;
  padding-right: .625rem;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
}
.ts-message .message_header {
  width: 100%;
  height: 50px
  padding-top: 10px;
  margin-top: 10px;
}
.ts-message .message_menu_button {
  position: absolute;
  width: 100%;
  text-align: right;
  top: 0px;
  right: 0px;
}

.ts-message .message_icon {
  margin-top: .25rem;
  display: block;
}

.ts-message .nickname {
  /*margin: 7px;*/
  display: inline-block;
  width: auto;
  height: 30px
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

.ts-message .nickname:hover {
  text-decoration: underline;
  color: #000;
}

.ts-message .transmission_time {
  display: inline-block;
  width: auto;
  height: 30px
  font-size: 12px;
  color:  #9e9ea6;
}

.light_theme .ts-message.first .message_content .bot_label, .light_theme .ts-message.first .message_content .message_sender, .light_theme .ts-message.selected .message_content .bot_label, .light_theme .ts-message.selected .message_content .message_sender {
    display: inline;
}

.light_theme .ts-message.first .message_content, .light_theme .ts-message.selected .message_content {
    margin-top: .0625rem;
}

.light_theme .ts-message .message_content {
    margin-left: 4.5rem;
}

.member_image {
    border-radius: .2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.member_image_demo {
    border-radius: .2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    background-image: url('/images/default_avatar.png');
}

.member_image.thumb_36 {
    width: 2.25rem;
    height: 2.25rem;
}

.ts-message .message_body {
  cursor: text;
}

.light_theme .ts-message .message_body {
  display: block;
  /*white-space:pre-wrap;*/
}

.ts_tip {
  display: inline-block;
  position: relative;
  /*z-index: 1;*/
  font-family: Slack-Lato,appleLogo,sans-serif!important;
}


footer {
  position: fixed;
  background: #fff;
  bottom: 0;
  left: 250px;
  right: 1rem;
  height: 4rem;
  /*z-index: 52;*/
}
#footer_overlay {
  background: #fff;
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-transition: opacity ease-in .35s 0s;
  -moz-transition: opacity ease-in .35s 0s;
  transition: opacity ease-in .35s 0s;
  height: 4rem;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.onboarding_overlay {
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

#messages-input-container {
  font-size: .9rem;
  position: absolute;
  bottom: 22px;
  left: 20px;
  right: 48px;
  padding-right: 1rem;
  box-shadow: none;
}

#primary_send_button {
  position: absolute;
  bottom: 0;
  right: -44px;
  background: #fff;
  color: rgba(0,0,0,.35);
  border: 2px solid #E0E0E0;
  background-clip: padding-box;
  height: 42px;
  width: 44px;
  line-height: 42px;
  min-height: 42px!important;
  max-height: 160px!important;
  padding: 0;
  text-align: center;
  -webkit-transition: background 50ms,color 50ms;
  -moz-transition: background 50ms,color 50ms;
  transition: background 50ms,color 50ms;
  text-shadow: none;
  border-radius: 0 6px 6px 0;
  border-left: none;
}
#primary_send_button:hover{
  /*background: rgba(176, 228, 243, 0.72);*/
  background: #37a6c4;
  color: #fff;
}

#message_edit_form #message-input, #messages-input-container #message-input, .inline_message_input_container #message-input {
  background: #fff;
  width: 100%;
  font-size: .9375rem;
  line-height: 1.2rem;
  border: 2px solid #E0E0E0;
  background-clip: padding-box;
  font-family: Slack-Lato,appleLogo,sans-serif;
  margin: 0;
  color: #3d3c40;
  -webkit-appearance: none;
  box-shadow: none;
  outline: 0;
  position: absolute;
  bottom: 0;
  min-height: 42px!important;
  padding: 3px 8px 3px 8px;
  max-height: 160px!important;
  resize: none!important;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 6px 0 0 6px;
}

.message_edit_form{
  background: #fff;
  width: 100%;
  font-size: .9375rem;
  line-height: 1.2rem;
  border: 2px solid #E0E0E0;
  background-clip: padding-box;
  font-family: Slack-Lato,appleLogo,sans-serif;
  margin-top: 5px;
  color: #3d3c40;
  -webkit-appearance: none;
  box-shadow: none;
  outline: 0;
  bottom: 0;
  min-height: 42px!important;
  padding: 3px 8px 3px 8px;
  max-height: 160px!important;
  resize: none!important;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 6px 6px 6px 6px;
}

.message_edit_button {
  bottom: 0;
  right: -44px;
  background: #fff;
  color: rgba(0,0,0,.35);
  border: 2px solid #E0E0E0;
  background-clip: padding-box;
  height: 30px;
  width: 30px;
  padding: 0;
  text-align: center;
  -webkit-transition: background 50ms,color 50ms;
  -moz-transition: background 50ms,color 50ms;
  transition: background 50ms,color 50ms;
  text-shadow: none;
  border-radius: 6px 0 0 6px;
}
.message_edit_button:hover{
  background: #2ab27b;
  color: #fff;
}

.message_delete_button {
  bottom: 0;
  right: -44px;
  background: #fff;
  color: rgba(0,0,0,.35);
  border: 2px solid #E0E0E0;
  background-clip: padding-box;
  height: 30px;
  width: 30px;
  padding: 0;
  text-align: center;
  -webkit-transition: background 50ms,color 50ms;
  -moz-transition: background 50ms,color 50ms;
  transition: background 50ms,color 50ms;
  text-shadow: none;
  border-radius: 0 6px 6px 0;
  border-left: none;
}
.message_delete_button:hover{
  background: #EB4D5C;
  color: #fff;
}

.message_edit_cancel_button {
  bottom: 0;
  background: #fff;
  color: rgba(0,0,0,.35);
  border: 2px solid #E0E0E0;
  background-clip: padding-box;
  height: auto;
  width: auto;
  margin: 5px 0px 5px 0px;
  padding: 5px;
  text-align: center;
  -webkit-transition: background 50ms,color 50ms;
  -moz-transition: background 50ms,color 50ms;
  transition: background 50ms,color 50ms;
  text-shadow: none;
  border-radius: 6px 0 0 6px ;
}
.message_edit_cancel_button:hover{
  color: #2A80B9;
}

.message_edit_save_changes_button {
  bottom: 0;
  background: #2ab27b;
  color: #fff;
  border: 2px solid #E0E0E0;
  background-clip: padding-box;
  height: auto;
  width: auto;
  margin: 5px 5px 5px 0px;
  padding: 5px;
  text-align: center;
  -webkit-transition: background 50ms,color 50ms;
  -moz-transition: background 50ms,color 50ms;
  transition: background 50ms,color 50ms;
  text-shadow: none;
  border-radius: 0 6px 6px 0;
  border-left: none;
}
.message_edit_save_changes_button:hover{
  background: #19865A;
}

textarea {
    font-size: 1rem;
    line-height: 1.25rem;
    width: 100%;
    padding: .75rem .5rem .75rem .75rem;
    vertical-align: top;
}

hr {
  border-top: 1px solid rgb(153, 153, 153);
}

hr.or {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #f8f5f0;
  text-align: center;
}

hr.or:after {
  content: 'or';
  display: inline-block;
  position: relative;
  top: -12px;
  padding: 0 10px;
  /*background: #fff;*/
  background-color: rgba( 255, 255, 255, 0);
  color: #000;
  font-size: 15px;
}

.fb:before
{
  font-family: 'FontAwesome' ;
  padding-right: 5px ;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}
